@font-face {
    font-family: Myriad;
    src: url(MYRIADPRO-REGULAR.woff);
}

@font-face {
    font-family: Kings Gambit;
    src: url(kingsgmb.woff);
}

h1 {
    /* background-color: #171926;
    color: #79d0ea; */
    text-align: center;
    font-family: 'Myriad';
    font-size: 36px;
}

body {
    background-color:#0d1117;
    margin: auto;
    padding: 5px;
    text-align: center;
    font-family: 'Myriad';
    color: #c2c2c2;
}

ul {    
    /* color: #79d0ea; */
    text-align: center;
    text-decoration: none;
    margin: 8px;
    font-size: 20px;
    list-style-type: none;   
}

.topnav ul {
    position: sticky;
    display: flex;
    flex-direction: row;
    top: 0;
    list-style-type: none;
    margin: auto;
    padding: auto;
    overflow: hidden;
    background-color: #0a152c;
    border-bottom: 2px solid black;}

.topnav li {
    float: left;
    font-size: 25px;
    line-height: 40px;
    padding: 5px;
}

.l {
    margin: auto;
    width: 20%;
}
.topnav a {
    display: inline;
    text-decoration: none;
    padding: 5px;
}

.topnav a:hover {
    background-color: #7b42ff;
}

a {
    text-decoration: none;
    color: inherit;
}

.list ul {
    border: 3px solid #7b42ff;
    border-style: outset;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.display-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 25px;
}

.item {
    padding: 10px;
    text-align: center;
}

.zoom {
    transition: transform .15s;
}

.zoom:hover {
    transform: scale(1.1); 
}

