@font-face {
    font-family: Myriad;
    src: url(MYRIADPRO-REGULAR.woff);
}

@font-face {
    font-family: Kings Gambit;
    src: url(kingsgmb.woff);
}

.myriad h1 {
    font-family: 'Myriad';
}


h1 {
    /* background-color: #171926;
    color: #79d0ea; */
    text-align: center;
    font-family: 'Kings Gambit';
    font-size: 5em;
}

body {
    /* background-color:#171926; */
    margin: auto;
    padding: 0px;
    text-align: center;
    font-family: 'Myriad';
}

ul {
    /* color: #79d0ea; */
    /* display: flex;
    flex-direction: row; */
    text-align: center;
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
    list-style-type: none;
    padding: 0px;
}

.topnav ul {
    position: sticky;
    display: flex;
    flex-direction: row;
    top: 0;
    list-style-type: none;
    margin: auto;
    padding: auto;
    overflow: hidden;
    background-color: grey;
    border-bottom: 2px solid black;
}

.topnav li {
    float: left;
    font-size: 25px;
    line-height: 40px;
    padding: 5px;
}

.l {
    margin: auto;
    width: 20%;
}
.topnav a {
    display: inline;
    text-decoration: none;
    padding: 5px;
}

.topnav a:hover {
    background-color: blue;
}

a {
    text-decoration: none;
}

.table table {
    width: 20%;
    margin: auto;
    text-align: center  ;
}
