{% extends "layout.html" %}
{% block content %}
    <h1>
        Packs
    </h1>
    <div class="display-grid">
    <body>
    {% for pack in packs %}
<div class="list zoom height">
    <a href="{{url_for('packentry', id = pack[0])}}">
    <ul>
        {% if pack[2] %}
        <img src="{{pack[2]}}">
        {% endif %}
        <div></div>
        <a href="{{url_for('packentry', id = pack[0])}}">{{ pack[1] }}</a>
    </ul>
</a>
</div>
    {% endfor %}
    </body>
    </div>
    </html>
{% endblock %}