{% extends "layout.html" %}
{% block content %}
    <head>
        <h1>{{ song[1] }}</h1>
    </head>
    <body>
        <ul>
          <table class="info">
            <tr>
              <td>Artist</td>
              <td> {{ song[2] }} </td>
            </tr>
            <tr>
              <td>Difficulty</td>
              <td> {{ song[3], song[4], song[5], song[6] }} </td>
            </tr>
            <tr>
              <td>Length</td>
              <td> {{ song[7] }} </td>
            </tr>
            <tr>
              <td>BPM</td>
              <td> {{ song[8] }} </td>
            </tr>
            <tr>
              <td>Version</td>
              <td> {{ song[9] }} </td>
            </tr>
            <tr>
              <td>Constant</td>
              <td> {{ song[10], song[11], song[12], song[13] }} </td>
            </tr>
          </ul> 
        </table>    
    </body>
    </html>
{% endblock %}