{% extends "layout.html" %}
{% block content %}
  <head  class="song">
        {% if song[15] %}
        <img width="300px" height="300px" src="{{song[15]}}">
        {% endif %}
        <h1>{{ song[1] }}</h1>
        <h3>{{ song[2] }}</h3>
    </head>
    <body>
        <ul>
          <table class="info">
            <tr>
              <table class="diff">
              <td>Difficulty</td>
              <td> {{ song[3], song[4], song[5], song[6] }} </td>
            </tr>
            <tr>
              <td>Constant</td>
              <td> {{ song[10], song[11], song[12], song[13] }} </td>
            </tr>
          </table>
          <table class="info">
            <tr>
              <td>Length</td>
              <td> {{ song[7] }} </td>
            </tr>
            <tr>
              <td>BPM</td>
              <td> {{ song[8] }} </td>
            </tr>
            <tr>
              <td>Version</td>
              <td> {{ song[9] }} </td>
            </tr>
          </ul> 
        </table>    
    </body>
    </html>
{% endblock %}